.App {
  text-align: center;
}

:root {
  --blue: #2196f3;
  --roll-result-transition: 300ms;
}

.roll-btn {
  display: block;
  background: white;
  outline: none;
  padding: 2rem 3.5rem;
  border-radius: 1rem;
  border: 3px solid var(--blue);
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.roll-btn:hover {
  background: var(--blue);
  color: white;
}

.sphere-selector-button {
  display: block;
  background: white;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0;
  border: 3px solid black;
}

.clear-roll-log-button {
  display: block;
  background: white;
  outline: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem auto;
  border: 2px solid black;
}

.roll-log-button {
  color: white;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.3rem;
  border: 3px solid black;
}

.roll-marker {
  padding: 0.4rem;
  border-radius: 1rem;
  margin: 0.2rem auto;
  border: 1px solid black;
  width: 0.6rem;
}

.sphere-name {
  position: fixed;
  top: 1.5rem;
  left: 0;
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.right-side {
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  text-align: center;
}

.left-side {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  text-align: center;
}

.left-side .label,
.right-side .label {
  font-size: 1.25rem;
  margin: 1.25rem 0 0.5rem;
  font-weight: bold;
}

.roll-result-overlay {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  height: 400px;
  width: 400px;
  transition: opacity var(--roll-result-transition) ease-out;
}

.roll-result-overlay img {
  width: 100%;
  height: 100%;
}

.roll-result-overlay.show {
  opacity: 1;
}

.roll-result-overlay.hide {
  opacity: 0;
}

.industrial-switch {
  display: block;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}
